<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Janken - {{welcome_message}}</title>
</head>
<html>
    <head>
        <title>{{ title }} - Janken</title>
    </head>
    <body>
        <div>
        <a href="/rules">Rules</a>
        </div>
        <form action="/play" method="post">
            <label for="player_name">Your name</label>
            <input type="text" name="player_name" id="player_name">
            <label for="player_choice">Your choice</label>
            <input type="text" name="player_choice" id="player_choice">
            <input type="submit" value="Play Computer">
        </form>
        <hr>

        {% block content %}

        {% endblock %}
    </body>
</html>